{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}



<link rel="stylesheet" href="{% static 'registration/universal.css' %}">

    {% if validlink %}
        <div class="col-5 mx-auto">
          <h4>Please enter (and confirm) your new password.</h4>
        </div>  
        <form class="col-md-5 mx-auto" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Change my password" />
        </form>
    {% else %}
        <div class="text-center">
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        </div>    
    {% endif %}

{% endblock %}